body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
    padding: 0 20px;
}

.top-padding {
    padding-top: 60px;
}

.settings-btn {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: #555;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.settings-btn:hover {
    background-color: #666;
}

.settings-btn:active {
    background-color: #444;
    transform: scale(0.98);
}

.settings-modal {
    display: none;
    position: absolute;
    top: 40px;
    left: 7%;
    width: 76%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

.settings-modal input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea {
    width: 100%;
    min-height: 80px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #777;
    box-sizing: border-box;
    border-radius: 5px;
    /* 防止出現捲動條 */
    overflow-y: hidden;
    /* 禁止手動調整大小 */
    resize: none;
}

.settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #777;
    padding: 10px;
    border-radius: 5px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button {
    transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

.button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #93ff85;
}

.button:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
}

.button-active {
    background-color: green;
    color: #fff;
}

.button-active:hover {
    background-color: #004600;
    color: #fff;
}

.reset-btn {
    background-color: #ff5252;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #ff6e6e;
}

.reset-btn:active {
    background-color: #cc0000;
    transform: scale(0.98);
}

.reset-all-btn {
    background-color: #ff5252;
    padding: 10px;
    border-radius: 5px;
    color: white;
    position: fixed;
    top: 10px;
    right: 20px;
    border: none;
    cursor: pointer;
}

.reset-all-btn:hover {
    background-color: #ff6e6e;
}

.reset-all-btn:active {
    background-color: #cc0000;
    transform: scale(0.98);
}

.save-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.save-btn:hover {
    background-color: #45a049;
}

.save-btn:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}

.copy-url-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    right: 20px;
    position: absolute;
    float: right;
}

.copy-url-btn:hover {
    background-color: #2980b9;
}

.copy-url-btn:active {
    background-color: #2471a3;
    transform: scale(0.98);
}